<h1>Welcome</h1>

<app-search-form (newPerson)="callInfo($event)"></app-search-form>

<div class="container mt-5" *ngIf="user">
    <div class="row">
        <div class="col-md-6">
            <h1>{{user.login}}</h1>
            <p>date joined:{{user.created_at|date}}</p>
            <p>last updated:{{user.updated_at|date}}</p>
        </div>
        <div class="col-md-6">
            <img src="{{user.avatar_url}}" alt="">
        </div>
        

    
       
    
    </div>

</div>

<h1>repositories</h1>
<div class="container text-center" *ngFor="let repo of repo">
    

<a href="{{repo.html_url}}">{{repo.name}}</a>
   <p>{{repo.description}}</p>
<p>created on:{{repo.created_at|date}}</p>
</div>